* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("sfondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

aside {
    vertical-align: top;
}

main {
    width: 70%;
    height: 400px;
    margin-top: 1px;
    vertical-align: middle;
}

hr {
    margin-top: 20px;
}

ul {
    color: white;
    font-size: 20px;
}

p {
color: white;
    font-size: 20px
}

.blocco-in-linea {
    display: inline-block;
}

.casella {
    background-color: rgba(150, 150, 150, 0.70);
}

.menu {
    height: 50px;
    vertical-align: middle;
}

.inlinea{
    display: inline;
}

.letta {
    background-color: rgb(50, 50, 50);
}

.nonletta {
    background-color: rgb(100, 100, 100 );
}

#logo {
    height: 50px;
    margin-left: 30px;
    border-radius: 10%;
    vertical-align: middle;
}

#gmail {
    color: white;
    font-size: 35px;
}

#cerca {
    text-align: center;
    margin-left: 70px;
}

.inarrivo {
    background-color: red;
    border-radius: 20%;
    width: 20px;
    height: 20px;
}
